<h1>ブログ一覧</h1>

<table>
  <tr>
    <th>画像</th>
    <th>コメント</th>
  </tr>

<% @feeds.each do |feed| %>
  <tr>
    <td><%= image_tag(feed.image.url) %></td>
    <td><%= feed.content %></td>
    <td><%= feed.user.name %></td>
    <td><%= link_to '詳細を確認する', feed_path(feed.id) %></td>
    <td>
      <% if feed.user_id == current_user.id %>
        <%= link_to "ブログを編集する", edit_feed_path(feed.id),data: { confirm: '本当に編集していいですか？' } %>
      <%  end %>
    </td>
    <td>
      <% if feed.user_id == current_user.id %>
        <%= link_to 'ブログを削除する', feed_path(feed.id), method: :delete ,data: { confirm: '本当に編集していいですか？' } %></td>
      <%  end %>

  </tr>
<% end %>

<%= link_to '新しくブログを投稿する', new_feed_path %>

</table>