<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<p><%= link_to "ユーザを編集する", edit_user_path(@user.id) %></p>
<p><%= link_to "ブログ一覧画面へ移動する", feeds_path %></p>


<% if current_user %>
  <% if current_user.image? %>
    <%= image_tag(@user.image.url)%>
  <% else %>
    <h1>NO Image</h1>
  <% end %>
<% end %>

<p><span>お気に入り登録したブログの一覧: </span>

<% @favorite_feeds.each do |feed| %>
  <hr>
  <%=image_tag(feed.image.url) %><br>
  <%=link_to feed.content, feed_path(feed.id) %>
  </p>
<% end %>